<%- include('../layout/header.ejs') %> 
    <div><%= user.name %></div>
    <div><%= user.email %></div>
    <div><%= user.date %></div>
<h2>social links</h2>
<a href="me/<%= user.id %>/edit">edit profile</a>
    <% videos.forEach(video => { %>
         <% if(video.author == user.id) { %>
            <img src="/<%= video.path %>" alt="">
         <% } %>
    <% }) %> 

<%- include('../layout/footer.ejs') %>