<%- include('../layout/header.ejs') %>    
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/<%= video.path %>" alt="">
            <div><%= video.author %></div>
            <div><%= video.publishDate %></div>
        </div>
    </div>
    <a href="/">All videos</a>
  </div>
<%- include('../layout/footer.ejs') %> 